* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cinzel', serif;
  
}

/* COMMON */

.container-1600 {

  padding: 30px 20px;

}


#lezioniESteps , #why {

  text-align: justify;
  font-size: 25px;

}

@media all and (max-width: 419px)  {

  #lezioniESteps , #why {

    text-align: justify;
    font-size: 1rem;

  }

}

#lezioniESteps h3, #why h3 {

  font-size: 45px;
  text-transform:  capitalize;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  margin: 20px auto;

}

#lezioniESteps h1, #why h1 {

    text-align:center;
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Slabo 27px', serif;

  }

@media all and (max-width: 419px) {

  #lezioniESteps h3 {
    font-size: 1.9rem;
  }

  #lezioniESteps h3:first-of-type {
    font-size: 1.5rem;
  }

  #why h3 {
    font-size: 1.6rem;
  }

}
/* BLOCCO LEZIONI */

#lezioni .row img {

  max-width: 200px;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;

}

@media all and (min-width: 1300px) {

  #lezioni .row .casa-tua img{

    width: 300px;
    max-width: 100%;

  }

  #lezioni .row .online img{

    width: 350px;
    max-width: 100%;

  }

}

@media all and (max-width: 419px) {

  #lezioni .row img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;

  }
}

/* BLOCCO STEPS */

#steps .row img {

  max-width: 100%;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;

}

/* BLOCCO PERCHE */

#why .card {

  background-color:#428bca;
  color: white;

}

#why .row img {

  max-width:200px;
  display: block;
  margin-right: auto;
  margin-left: auto;

}

@media screen and (max-width: 419px){

  #why .row img {

    max-width: 100px;
    height:auto;
    display: block;
    margin-right: auto;
    margin-left: auto;

  }

}
